tests/object_detection/rendered_assets/
tests/object_detection/__pycache__/
tests/results/
__pycache__/
models/object_detection/yolo11m.pt
debug_outputs/
debug_inputs/
tests/recognition_pipeline_manager/assets/
logs/
*.log